In [1]:
import time
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from selenium import webdriver

chrome_path = "C:/Program Files/ChromeDriver/chromedriver.exe" #Select local chromedriver
driver = webdriver.Chrome(chrome_path)                                          #Create webdriver based on chromedriver

In [10]:
baselink = "https://www.soccerstats.com/leagueview_team.asp?league=euro&team1id=" #Create prefix of link

data = {        #Create dictionary for data
        "Country": [],
        "Name": [],
        "Position": [],
        "Team": []
    }

for i in range(1,25):
    driver.get(baselink + str(i)) #Get url based on prefix link and team id
    time.sleep(1)
    
    for el in driver.find_elements_by_class_name("odd"):
        data["Country"].append(driver.find_element_by_class_name("six").find_element_by_css_selector("h3").text.split("games", 1)[0]) #Get country value
        tds = el.find_elements_by_css_selector("td") #Get all row values
        data["Name"].append(tds[2].text)             #Get name value
        data["Position"].append(tds[3].find_element_by_css_selector("b").text) #Get position value
        data["Team"].append(tds[4].find_element_by_css_selector("a").text)  #Get team value

In [11]:
national_team_players = pd.DataFrame.from_dict(data)

In [12]:
national_team_players

      Country            Name Position            Team
0     Turkey      A. Bayindir        G      Fenerbahce
1     Turkey         M. Günok        G      Basaksehir
2     Turkey    Ugurcan Çakir        G     Trabzonspor
3     Turkey   Çaglar Söyüncü        D  Leicester City
4     Turkey      Caner Erkin        D      Fenerbahce
..        ...             ...      ...             ...
617  Germany      Kai Havertz        F         Chelsea
618  Germany       Leroy Sané        F   Bayern Munich
619  Germany     Serge Gnabry        F   Bayern Munich
620  Germany    Thomas Müller        F   Bayern Munich
621  Germany      Timo Werner        F         Chelsea

[622 rows x 4 columns]

In [14]:
new = national_team_players["Name"].str.split(" ", n = 1, expand = True)  #Split name on space to get first-/lastname
national_team_players["FirstName"] = new[0]
national_team_players["LastName"] = new[1]

In [15]:
national_team_players.drop('Name', axis='columns', inplace=True)  #Drop former name column

In [16]:
national_team_players.to_csv('national_team_players.csv', index=False)  #Print CSV to file